- #### 구구단을 2 - 9단까지 출력하세요.

In [3]:
a = [2, 3, 4, 5, 6, 7, 8, 9]
b = list(range(1, 10))

for i in a:
    for j in b:
        print(i, "*", j, "=", i*j)
print("end")

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
end

In [4]:
x = 2
while x <= 9:
    y = 1
    while y <= 9:
        print(x, "x", y, "=", x*y)
        y = y + 1
    x = x + 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

- #### 1 - 100 까지 정수 중 3의 배수 또는 7의 배수를 모두 출력하세요.

In [5]:
a = list(range(1, 101))

for i in a:
    if i % 3 == 0 or i % 7 == 0:
        print(i)

3
6
7
9
12
14
15
18
21
24
27
28
30
33
35
36
39
42
45
48
49
51
54
56
57
60
63
66
69
70
72
75
77
78
81
84
87
90
91
93
96
98
99

- #### a = [3, 25, 34, 87, 55, 49, 7, 97, 63, 28] 에서 최대값, 최소값, 평균을 구하세요.

In [16]:
a = [3, 25, 34, 87, 55, 49, 7, 97, 63, 28]

_min = a[0]
_max = a[0]
for x in a:
    if x < _min:
        _min = x
    if x > _max:
        _max = x
print("최소값:", _min,"최대값:", _max)

최소값: 3 최대값: 97

In [17]:
a = [3, 25, 34, 87, 55, 49, 7, 97, 63, 28]

_sum = 0
for i in a:
    _sum= _sum + i
    
print("평균:", _sum/len(a))

평균: 44.8

- #### 주어진 숫자 리스트의 평균을 구하는 함수를 정의하시오.

In [18]:
def mean(lists):
    return sum(lists) / len(lists)

In [20]:
a = [1, 2, 3, 4, 5]
print(mean(a))

3.0

- #### 이름과 나이를 입력받아 자기소개하는 함수를 정의하시오.

In [31]:
def say_myself(name, old):
    print("내 이름은 {}입니다.".format(name))
    print("나이는 {}세 입니다.".format(old))
print(say_myself('이건하', 24))

내 이름은 이건하입니다.
나이는 24세 입니다.
None

- #### 두개의 숫자를 입력받아 사칙연산 결과를 출력하는 함수를 정의하시오.

In [33]:
def calc(x, y):
    add = x + y
    sub = x - y
    mult = x * y
    div = x / y
    return add, sub, mult, div

In [34]:
calc(10, 100)

(110, -90, 1000, 0.1)