### Voting
#### 1. iris

In [65]:
from sklearn.ensemble import VotingClassifier
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_squared_error

In [2]:
iris=load_iris()

In [3]:
x_df=pd.DataFrame(iris.data,columns=iris.feature_names)
x_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [5]:
y_df=pd.DataFrame(iris.target,columns=['target'])
y_df.head()

   target
0       0
1       0
2       0
3       0
4       0

In [6]:
y_df['target'].value_counts()

2    50
1    50
0    50
Name: target, dtype: int64

In [7]:
x_train,x_test,y_train,y_test=train_test_split(iris.data,iris.target,train_size=0.7,test_size=0.3,random_state=101)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(105, 4) (45, 4) (105,) (45,)

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [9]:
lr_cif=LogisticRegression()
knn_cif=KNeighborsClassifier(n_neighbors=5)

In [ ]:
hvot_cif=VotingClassifier(estimators=[('LR',lr_cif),('KNN',knn_cif)],voting='hard')
hvot_cif.fit(x_train,y_train)

In [ ]:
svot_cif=VotingClassifier(estimators=[('LR',lr_cif),('KNN',knn_cif)],voting='soft')
svot_cif.fit(x_train,y_train)

In [12]:
pred_hvot=hvot_cif.predict(x_test)
pred_svot=svot_cif.predict(x_test)

In [13]:
print(accuracy_score(y_test,pred_hvot))
print(accuracy_score(y_test,pred_svot))

1.0
1.0

In [ ]:
lr_cif.fit(x_train,y_train)
pred_lr=lr_cif.predict(x_test)
acc_lr=accuracy_score(y_test,pred_lr)
print(acc_lr)

In [15]:
knn_cif.fit(x_train,y_train)
pred_knn=knn_cif.predict(x_test)
acc_knn=accuracy_score(y_test,pred_knn)
print(acc_knn)

1.0

#### 2. Personal Loan
- "Personal Loan.csv"

In [17]:
loan=pd.read_csv("Personal Loan.csv")
loan

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,46,22,70,94701,4,1.9,1,212,0,0,0,0,1
2496,2497,63,37,32,93117,3,0.7,2,141,0,0,0,0,0
2497,2498,33,9,14,95133,3,0.9,3,114,0,0,0,0,0
2498,2499,38,14,111,92028,2,6.1,1,326,0,0,0,0,0
2499,2500,53,27,38,94105,4,2.8,2,144,0,1,0,1,0

In [29]:
loan_feature_names=['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [33]:
loan_target=['Personal Loan']

In [32]:
x_df=pd.DataFrame(loan[loan_feature_names],columns=loan_feature_names)
x_df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,1

In [40]:
y_df=pd.DataFrame(loan['Personal Loan'],columns=loan_target)
y_df.head()

   Personal Loan
0              0
1              0
2              0
3              0
4              0

In [41]:
x_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  2500 non-null   int64
 1   Age                 2500 non-null   int64
 2   Experience          2500 non-null   int64
 3   Income              2500 non-null   int64
 4   ZIP Code            2500 non-null   int64
 5   Family              2500 non-null   int64
 6   CCAvg               2500 non-null   float64
 7   Education           2500 non-null   int64
 8   Mortgage            2500 non-null   int64
 9   Securities Account  2500 non-null   int64
 10  CD Account          2500 non-null   int64
 11  Online              2500 non-null   int64
 12  CreditCard          2500 non-null   int64
dtypes: float64(1), int64(12)
memory usage: 254.0 KB

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x_df,y_df,train_size=0.7,test_size=0.3,random_state=156)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(1750, 13) (750, 13) (1750, 1) (750, 1)

In [44]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

In [45]:
lr_cif=LogisticRegression()
knn_cif=KNeighborsClassifier(n_neighbors=5)

In [ ]:
hvot_cif=VotingClassifier(estimators=[('LR',lr_cif),('KNN',knn_cif)],voting='hard')
hvot_cif.fit(x_train,y_train)

In [ ]:
svot_cif=VotingClassifier(estimators=[('LR',lr_cif),('KNN',knn_cif)],voting='soft')
svot_cif.fit(x_train,y_train)

In [48]:
pred_hvot=hvot_cif.predict(x_test)
pred_svot=svot_cif.predict(x_test)

In [49]:
print(accuracy_score(y_test,pred_hvot))
print(accuracy_score(y_test,pred_svot))

0.9226666666666666
0.9226666666666666

In [ ]:
lr_cif.fit(x_train,y_train)
pred_lr=lr_cif.predict(x_test)
acc_lr=accuracy_score(y_test,pred_lr)
print(acc_lr)

In [ ]:
knn_cif.fit(x_train,y_train)
pred_knn=knn_cif.predict(x_test)
acc_knn=accuracy_score(y_test,pred_knn)
print(acc_knn)

### Bagging
#### 1. iris

In [52]:
from sklearn.ensemble import BaggingClassifier

In [53]:
x_train,x_test,y_train,y_test=train_test_split(iris.data,iris.target,train_size=0.8,test_size=0.2,random_state=156)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(120, 4) (30, 4) (120,) (30,)

In [54]:
bag_cif=BaggingClassifier(base_estimator=lr_cif,n_estimators=5,verbose=1)

In [56]:
lr_cif=LogisticRegression(max_iter=10000)
lr_cif.fit(x_train,y_train)

pred_lr=lr_cif.predict(x_test)

In [59]:
print(accuracy_score(y_test,pred_lr))

1.0

In [ ]:
lr_cif_bag=bag_cif.fit(x_train,y_train)
pred_lr_bag=lr_cif_bag.predict(x_test)

In [62]:
pred_lr_bag

array([2, 0, 1, 2, 0, 1, 2, 2, 0, 2, 2, 0, 2, 1, 1, 2, 0, 0, 2, 1, 1, 1,
       1, 2, 0, 1, 2, 0, 0, 2])

In [63]:
print(accuracy_score(y_test,pred_lr_bag))

1.0

In [66]:
from sklearn.tree import DecisionTreeClassifier

dt_cif=DecisionTreeClassifier()
dt_cif.fit(x_train,y_train)
pred_dt=dt_cif.predict(x_test)

print(accuracy_score(y_test,pred_dt))
print(mean_squared_error(y_test,pred_dt))

0.9666666666666667
0.03333333333333333

In [67]:
bag_dt_cif=BaggingClassifier(base_estimator=dt_cif,n_estimators=5,verbose=1)

In [69]:
bag_dt_cif.fit(x_train,y_train)
pred_dt_bag=bag_dt_cif.predict(x_test)

print(accuracy_score(y_test,pred_dt_bag))
print(mean_squared_error(y_test,pred_dt_bag))

1.0
0.0

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

#### 2. Personal Loan
- "Personal Loan.csv"

In [70]:
x_train,x_test,y_train,y_test=train_test_split(x_df,y_df,train_size=0.7,test_size=0.3,random_state=156)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(1750, 13) (750, 13) (1750, 1) (750, 1)

In [ ]:
lr_cif=LogisticRegression(max_iter=10000)
lr_cif.fit(x_train,y_train)

pred_lr=lr_cif.predict(x_test)

In [73]:
print(accuracy_score(y_test,pred_lr))
print(mean_squared_error(y_test,pred_lr))

0.92
0.08

In [74]:
bag_cif=BaggingClassifier(base_estimator=lr_cif,n_estimators=5,verbose=1)

In [ ]:
lr_cif_bag=bag_cif.fit(x_train,y_train)
pred_lr_bag=lr_cif_bag.predict(x_test)

In [76]:
pred_lr_bag

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0], dtype=int64)

In [77]:
print(accuracy_score(y_test,pred_lr_bag))
print(mean_squared_error(y_test,pred_lr_bag))

0.924
0.076

In [78]:
from sklearn.tree import DecisionTreeClassifier

dt_cif=DecisionTreeClassifier()
dt_cif.fit(x_train,y_train)
pred_dt=dt_cif.predict(x_test)

print(accuracy_score(y_test,pred_dt))
print(mean_squared_error(y_test,pred_dt))

0.9786666666666667
0.021333333333333333

In [79]:
bag_dt_cif=BaggingClassifier(base_estimator=dt_cif,n_estimators=5,verbose=1)

In [ ]:
bag_dt_cif.fit(x_train,y_train)
pred_dt_bag=bag_dt_cif.predict(x_test)

print(accuracy_score(y_test,pred_dt_bag))
print(mean_squared_error(y_test,pred_dt_bag))

### RandomForest
#### 1. iris

In [81]:
x_train,x_test,y_train,y_test=train_test_split(iris.data,iris.target,train_size=0.8,test_size=0.2,random_state=156)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(120, 4) (30, 4) (120,) (30,)

In [84]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
params={'n_estimators':[10,100,500,100],
       'max_depth':[3,5,10,15]}
rt_cif=RandomForestClassifier(random_state=103,n_jobs=-1,verbose=1)
grid_cv=GridSearchCV(rt_cif,param_grid=params,n_jobs=-1,verbose=1)
grid_cv.fit(x_train,y_train)

print('최적 하이퍼 파라미터: ',grid_cv.best_params_)
print('최고 예측 정확도: {:.4f}'.format(grid_cv.best_score_))

Fitting 5 folds for each of 16 candidates, totalling 80 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    6.1s
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:   12.6s finished
[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    0.0s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:    1.1s
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:    1.3s finished

최적 하이퍼 파라미터:  {'max_depth': 3, 'n_estimators': 500}
최고 예측 정확도: 0.9417

In [85]:
rt_cif=RandomForestClassifier(n_estimators=500, max_depth=3, random_state=123,verbose=1)
rt_cif.fit(x_train,y_train)
pred=rt_cif.predict(x_test)
print(accuracy_score(y_test,pred))

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

1.0

[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.8s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 500 out of 500 | elapsed:    0.0s finished

#### 2. Personal Loan
- "Personal Loan.csv"

In [86]:
x_train,x_test,y_train,y_test=train_test_split(x_df,y_df,train_size=0.7,test_size=0.3,random_state=156)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(1750, 13) (750, 13) (1750, 1) (750, 1)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
params={'n_estimators':[10,100,500,1000],
       'max_depth':[3,5,10,20]}
rt_cif=RandomForestClassifier(random_state=103,n_jobs=-1,verbose=1)
grid_cv=GridSearchCV(rt_cif,param_grid=params,n_jobs=-1,verbose=1)
grid_cv.fit(x_train,y_train)

print('최적 하이퍼 파라미터: ',grid_cv.best_params_)
print('최고 예측 정확도: {:.4f}'.format(grid_cv.best_score_))

In [ ]:
rt_cif=RandomForestClassifier(n_estimators=500, max_depth=10, random_state=127,verbose=1)
rt_cif.fit(x_train,y_train)
pred=rt_cif.predict(x_test)
print(accuracy_score(y_test,pred))

### Gradient boosting
#### Personal Loan

- #### Gradient boost

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier 
gb_cif=GradientBoostingClassifier(n_estimators=10,random_state=0)
gb_cif.fit(x_train,y_train)
pred=gb_cif.predict(x_test)
print(accuracy_score(y_test,pred))

- #### XGboost

In [93]:
import xgboost as xgb

In [95]:
dtrain=xgb.DMatrix(data=x_train, label=y_train)
dtest=xgb.DMatrix(data=x_test, label=y_test)

In [96]:
xgb_param={'max_depth':3, 'objective':'binary:logistic','eval_metric':'logloss'}

In [97]:
wlist=[(dtrain,'train'),(dtest,'eval')]
xgb_model=xgb.train(params=xgb_param,dtrain=dtrain,evals=wlist)

[0]	train-logloss:0.45740	eval-logloss:0.45314
[1]	train-logloss:0.32726	eval-logloss:0.31985
[2]	train-logloss:0.24538	eval-logloss:0.23584
[3]	train-logloss:0.19012	eval-logloss:0.17920
[4]	train-logloss:0.15146	eval-logloss:0.13977
[5]	train-logloss:0.12332	eval-logloss:0.11199
[6]	train-logloss:0.10304	eval-logloss:0.09134
[7]	train-logloss:0.09055	eval-logloss:0.07865
[8]	train-logloss:0.07908	eval-logloss:0.06854
[9]	train-logloss:0.07056	eval-logloss:0.05989

In [100]:
xgb_model_predict=xgb_model.predict(dtest)
preds=[1 if x>0.5 else 0 for x in xgb_model_predict]

In [101]:
print(accuracy_score(y_test,preds))

0.992

- #### LightGBM

In [ ]:
from lightgbm import LGBMClassifier
lgbm_wrapper=LGBMClassifier()
evals=[(x_test,y_test)]
lgbm_wrapper.fit(x_train,y_train,early_stopping_rounds=100,eval_metric='logloss',eval_set=evals,verbose=True)
preds=lgbm_wrapper.predict(x_test)

In [103]:
print(accuracy_score(y_test,preds))

0.9893333333333333